{% block sw_cms_block_image_text_about %}
    <div class="sw-cms-block-image-text-about">
        <slot name="left">{% block sw_cms_block_image_text_about_slot_left %}{% endblock %}</slot>
        <slot name="right">{% block sw_cms_block_image_text_about_slot_right %}{% endblock %}</slot>
    </div>
{% endblock %}
