{% block sw_cms_block_image_text_people_gallery %}
    <div class="sw-cms-block-image-text-people-gallery">
        <div class="sw-cms-block-image-text-people-gallery-col">
            <slot name="image_first">{% block sw_cms_block_image_text_people_gallery_image_first %}{% endblock %}</slot>
            <slot name="text_first">{% block sw_cms_block_image_text_people_gallery_content_first %}{% endblock %}</slot>
        </div>
        <div class="sw-cms-block-image-text-people-gallery-col">
            <slot name="image_second">{% block sw_cms_block_image_text_people_gallery_image_second %}{% endblock %}</slot>
            <slot name="text_second">{% block sw_cms_block_image_text_people_gallery_content_second %}{% endblock %}</slot>
        </div>
        <div class="sw-cms-block-image-text-people-gallery-col">
            <slot name="image_third">{% block sw_cms_block_image_text_people_gallery_image_third %}{% endblock %}</slot>
            <slot name="text_third">{% block sw_cms_block_image_text_people_gallery_content_third %}{% endblock %}</slot>
        </div>
    </div>
{% endblock %}
