@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-display: montserrat;
    src: url('/bundles/mondogustotheme/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
    url('/bundles/mondogustotheme/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('/bundles/mondogustotheme/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-display: montserrat;
    src: url('/bundles/mondogustotheme/fonts/montserrat/Montserrat-Bold.woff') format('woff'),
    url('/bundles/mondogustotheme/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('/bundles/mondogustotheme/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    font-display: lato;
    src: url('/bundles/mondogustotheme/fonts/lato/Lato-Light.woff') format('woff'),
    url('/bundles/mondogustotheme/fonts/lato/Lato-Light.woff2') format('woff2'),
    url('/bundles/mondogustotheme/fonts/lato/Lato-Light.ttf') format('truetype');
}
