{% block sw_cms_preview_image_cover_test %}
    <div class="sw-cms-preview-image-cover-test">
        <img class="preview-image-cover-test-desktop" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <img class="preview-image-cover-test-mobile" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
{% endblock %}
