@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/bundles/newtheme/fonts/opensans/OpenSans-Regular.woff') format('woff'),
    url('/bundles/newtheme/fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
    url('/bundles/newtheme/fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}
