{% block sw_cms_element_dailymotion_preview %}
    <div class="sw-cms-el-preview-dailymotion">
        <img class="sw-cms-el-preview-dailymotion-img"
             :src="'/mondogustotheme/static/img/cms/sea.jpg' | asset">

        <img class="sw-cms-el-preview-dailymotion-icon"
             :src="'/mondogustotheme/static/img/cms/play.png' | asset">
    </div>
{% endblock %}
