{% block sw_cms_preview_pet_types %}
    <div class="sw-cms-preview-pet-types">
        <img class="preview-pet-types-image-left" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <div class="preview-pet-types-right">
            <h2>Lorem ipsum dolor</h2>
            <img class="preview-pet-types-image-right" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
    </div>
{% endblock %}
