{% block sw_cms_preview_image_text_people_gallery %}
    <div class="sw-cms-preview-image-text-people-gallery">
        <div class="preview-image-text-people-gallery-col">
            <img class="preview-image-text-people-gallery-content" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
            <div class="preview-image-text-people-gallery-content">Lorem ipsum dolor sit amet</div>
        </div>
        <div class="preview-image-text-people-gallery-col">
            <img class="preview-image-text-people-gallery-content" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
            <div class="preview-image-text-people-gallery-content">Lorem ipsum dolor sit amet</div>
        </div>
        <div class="preview-image-text-people-gallery-col">
            <img class="preview-image-text-people-gallery-content" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
            <div class="preview-image-text-people-gallery-content">Lorem ipsum dolor sit amet</div>
        </div>
    </div>
{% endblock %}
