{% block sw_cms_preview_video_text %}
    <div class="sw-cms-preview-video-text">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <p>Lorem ipsum dolor sit amet</p>
    </div>
{% endblock %}
